<div class="grid grid-row">
  <div class="grid-col-single vertical-align-container color-{{rowVM.game.player}}">
    <span
      ng-click="rowVM.enterEditPlayerMode()"
      ng-bind="rowVM.game.player || '-'"
      ng-show="!rowVM.editPlayerMode"
    ></span>
    <select
      ng-show="rowVM.editPlayerMode"
      ng-model="rowVM.game.player"
      ng-change="rowVM.updatePlayer()"
      ng-options="player for player in rowVM.players"
    ></select>
  </div>

  <div class="game-title grid-col-triple color-{{rowVM.game.player}}"
    ng-bind="rowVM.game.title"
    ng-click="rowVM.enterEditTitleMode()"
    ng-class="{'hand': rowVM.status.authorized}"
    ng-show="!rowVM.editTitleMode"
  ></div>
  <div
    ng-show="rowVM.editTitleMode"
    class="game-title grid-col-triple color-{{rowVM.game.player}}"
  >
    <input
      ng-model="rowVM.game.title"
      ng-change="rowVM.updateTitle()"
      ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"
    >
  </div>

  <div
    ng-repeat="box in rowVM.boxes track by $index"
    ng-click="rowVM.gotoPlayed($index + 1)"
    class="box grid-col-single"
  >
    <span ng-class="{'hidden': !box.played}">X</span>
  </div>
  <div
    ng-if="rowVM.status.authorized"
    class="controls grid-col-single"
  >
    <span
      ng-click="rowVM.decrementPlaycount(rowVM.game.id)"
      class="but-small"
    >-</span>
    <span
      ng-click="rowVM.incrementPlaycount(rowVM.game.id)"
      class="but-small"
    >+</span>
  </div>
</div>
