<div class="grid grid-row">
  <div class="grid-col-triple vertical-align-container color-{{rowVM.game.player}} game-title">
    <span class="player-icon"
      ng-click="rowVM.enterEditPlayerMode()"
      ng-bind="rowVM.game.player"
      ng-show="!rowVM.editPlayerMode"
      ng-class="{'hand': rowVM.status.authorized}"
    ></span>
    <select
      ng-show="rowVM.editPlayerMode"
      ng-model="rowVM.game.player"
      ng-change="rowVM.updatePlayer()"
      ng-options="player for player in rowVM.players"
    ></select>
    <div class="title-area"
      ng-bind="rowVM.game.title"
      ng-click="rowVM.enterEditTitleMode()"
      ng-class="{'hand': rowVM.status.authorized}"
      ng-show="!rowVM.editTitleMode"
    ></div>
    <div class="hand but-small"
      ng-show="!rowVM.editTitleMode && rowVM.game.title.length === 0"
      ng-click="rowVM.enterEditTitleMode()"
    >add title</div>
    <div class="title-area" ng-show="rowVM.editTitleMode">
      <input
        ng-model="rowVM.game.title"
        ng-change="rowVM.updateTitle()"
        ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 2000, 'blur': 0 } }"
      >
    </div>
    <div class="hand but-small"
      ng-show="rowVM.editTitleMode"
      ng-click="rowVM.editTitleMode = false"
    >done</div>
  </div>
  <div
    ng-repeat="box in rowVM.boxes track by $index"
    ng-click="rowVM.gotoPlayed($index + 1)"
    ng-class="{'box-played color-{{rowVM.game.player}}': box.played, 'box-last': box.last}"
    class="box grid-col-single"
  >
    <span ng-show="box.played">√</span>
  </div>
  <div
    ng-if="rowVM.status.authorized"
    class="controls grid-col-single"
  >
    <span
      ng-click="rowVM.decrementPlaycount(rowVM.game.id)"
      class="but-small"
    >-</span>
    <span
      ng-click="rowVM.incrementPlaycount(rowVM.game.id)"
      class="but-small"
    >+</span>
  </div>
</div>
