.box {
  @extend .vertical-align-container;
  border: 1px solid $color-black;
  height: $base-unit*3;
  margin: $base-unit-quarter;
  overflow-y: hidden;
  padding: $base-unit-half;
  width: $base-unit*3;
  text-align: center;
}

.game-title {
  padding: $base-unit-half;
  display: flex;
  align-items: center;
  width: 25%;
  > input {
    width: 100%
  }
}

.controls {
  @extend .vertical-align-container;
  > span {
    @extend %text-small;
    cursor: pointer;
    display: inline-block;
    margin: 0 4px;
    width: 20px;
  }
}

.color-A {
  background-color: yellow;
}

.color-Z {
  background-color: red;
}

.color-D {
  background-color: green;
}

.color-M {
  background-color: blue;
}
