<div class="admin-page">
  <button
    ng-if="!adminVM.status.authorized"
    ng-click="adminVM.showLogin = !adminVM.showLogin"
    class="but-small float-right"
  >Login</button>

  <button
    ng-if="adminVM.status.authorized"
    ng-click="adminVM.logout()"
    class="but-small float-right"
  >Logout</button>

  <div
    ng-if="adminVM.status.authorized"
    class="admin-actions"
  >
    <h2>Actions:</h2>
    <div ng-click="adminVM.showRegister = !adminVM.showRegister" class="hand">Register User</div>
    <div ng-click="adminVM.showUpdateEmail = !adminVM.showUpdateEmail" class="hand">Request Password Update</div>
    <div>
      <label for="date">Completion Date:</label>
      <select
        ng-model="adminVM.boardData.selected"
        ng-options="board for board in adminVM.boardData.options"
      ></select>
      <datepicker
        date="adminVM.completionDate"
      ></datepicker>
      <button ng-click="adminVM.updateCompletionDate()">Update Completion Date</button>
    </div>
    <!--
    <div>
      <label for="times">Update Number of Games Played</label>
      <input
        ng-model="adminVM.challenge.data.times"
        ng-change="adminVM.updateTimes()"
        ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
        id="times" />
    </div>
    -->
  </div>
  <div
    ng-show="!adminVM.status.authorized"
    class="admin-login-prompt"
  >
    <p>Please login to view the admin actions</p>
  </div>

  <div ng-include="'templates/admin-register-user.html'"></div>
  <div ng-include="'templates/admin-login.html'"></div>
  <div ng-include="'templates/admin-request-password-set.html'"></div>
  <error-messages
    messages="adminVM.messages"
  ></error-messages>

</div>
