<div ng-show="adminVM.showRegister" ng-click="adminVM.showRegister = false" class="window-shade"></div>
<div ng-show="adminVM.showRegister" class="shade-contents">
  <form class="support-form" ng-submit="adminVM.registerUser()">
    <h3>Register a New User</h3>
    <div class="input-group">
      <input type="email" class="form-control" placeholder="Email" ng-model="adminVM.user.email">
    </div>
    <div class="input-group">
      <input type="password" class="form-control" placeholder="Password" ng-model="adminVM.user.password">
    </div>
    <input type="submit" class="but-selection" value="Submit Login">
  </form>
</div>
