<div ng-show="adminVM.showUpdateEmail" ng-click="adminVM.showUpdateEmail = false" class="window-shade"></div>
<div ng-show="adminVM.showUpdateEmail" class="shade-contents">
  <form class="support-form" ng-submit="adminVM.updateEmail()">
    <h3>Request Password Update via Email</h3>
    <div class="input-group">
      <input type="email" class="form-control" placeholder="Email" ng-model="adminVM.user.email">
    </div>
    <input type="submit" class="but-selection" value="Submit Login">
  </form>
</div>
